
#header {
  display:table;
  width: 100%;
  padding-left: 10%;
  padding-top: 5%;
  padding-right: 10%;
}
body {background-color: #d1e8e2}
h1 {font-family: Poppins, sans-serif;
        color: white; 
        display: table-cell;}
p {font-family: Poppins, sans-serif;
		 color: white;
		 text-align: left;
     padding-left: 55%;
     padding-right: 5%;
     padding-top: 20%;}
a:hover {
  color: #f76c6c;
  text-decoration:bold;
}
a:link {
  text-decoration:none;
}
.buttons {padding-left: 55%; 
    padding-top: 5%;
    text-align: center; 
    color: white; 
    font-family: Poppins, sans-serif;
    float: right; }
img {
	padding-right: 60%;
}
