body {
    background-image: url("fish2.JPG");
    background-repeat: no-repeat;
    padding-right: 0%;
}
h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 70px;
    font-style: italic;
    text-align: right;
    letter-spacing: 30px;
    padding-right: 8%;
    padding-top: 5%;
    color: #ac777a;
}
h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 8px;
    font-weight: 150;
    font-style: italic;
    text-align: left;
    letter-spacing: 1px;
    padding-left: 19%;
    padding-top: 25%;
    color: #34647e
}
p {
    font-family: 'Open Sans', sans-serif;;
    font-size: 14px;
    font-weight: 150;
    letter-spacing: 2px;
    line-height: 1.5;
    padding-left: 55%;
    padding-right: 8%;
    text-align: right;
    color: #34647e
}
a:link {
    text-decoration:none;
    color: #ac777a;
  }
  
a:hover {
  color: #34647e;
  font-weight: 530;
  letter-spacing: 13px;
}

ul {
    list-style-type: none;
}
.verticalmenu {
    padding-right: 8%;
    float: right;
    text-align: right;
    font-family: 'Open Sans', sans-serif;;
    font-size: 24px;
    font-style: oblique;
    letter-spacing: 12px;
    line-height: 1.75;
    color: #ac777a;
}
